*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body  {
  -webkit-text-size-adjust: none;
  background-color: $lighterGray;
}

body * {
  -webkit-backface-visibility: hidden;
}

body {
  //padding-top: 60px;
  //padding-bottom: 40px;
}

// Typography
h2, h3, h4, h5 { margin: 0;}

h1 {
	font-family: $serifFont;
	font-size: 30px;
	font-weight: 600;
	line-height: 2em;
	color: $green;
}

h2 {
	font-family: $sansSerifFont;
	font-size: 16px;
	line-height: 1.5em;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 10px;
}

p {
	font-family: $sansSerifFont;
	margin-bottom: 20px;
}

a {
	color: $pink;
}

// Social Content 
#social-content {
	padding-top: 10px;
	iframe {
		margin-top: 20px;
	}
}

// Navigation
.navbar {
	height: 246px;
	background-color: $black;
	background-image: url('../images/header-facet.png');
	background-repeat: no-repeat;
	background-position: center top;
	margin-bottom: 0;
	padding-top: 40px;
}

.header-identity {
	float: left;
}

.miami-tips-text {
	
	h2 {
		color: $green;
		text-transform: uppercase;
	}
	color: $white;
}

// Global styles for generated templates
.template-header {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid $lightGray;
}

.pre-talk-summary, .talk-notes-summary, .talk-abstract, .talk-video {
	margin-bottom: 30px;
	h2 {
		text-transform: none;
	}

	h3 {
		@extend h2;
		text-transform: none;
		color: $gray;
	}

	p {
		line-height: 1.5em;
		color: $textGray;
	}
}

// Events 
.event-organizer {
	text-transform: none;
}

// Talks 

.talk-details, .event-location {
	color: $purple;
}

.byline {
	color:$darkGray;
	font-size: 16px;
	padding-bottom: 10px;
}

.speaker-name, .contributor, .event-organizer {
	color: $pink;
	font-weight: 600;
}

.talk-notes-summary {
	border-top: 1px solid $lightGray;
	margin-top: 30px;
	padding: 30px 0;
	h3 {
		font-size: 16px;
	}
}

// Tips 
.tips-mod {
	border-top: 1px solid $lightGray;
	padding: 30px 0;

	p {
		margin: 20px 0;
	}
}

.tips-title {
	text-transform: none;
	font-size: 20px;
	color: $darkPurple;

}



