*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body  {
  -webkit-text-size-adjust: none;
  background-color: $lighterGray;
}

body * {
  -webkit-backface-visibility: hidden;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

// Typography
h1 {}
h2 {
	font-family: $sansSerifFont;
}


// Navigation




