$serifFont: 		"ff-tisa-web-pro", "Times New Roman", Times, serif !default;
$sansSerifFont: 	"Helvetica Neue", Helvetica, Arial, sans-serif !default;
$lightPurple:		#b382ee;
$purple: 			#5b4279;
$darkPurple: 		#382f44;

$darkGreen: 		#0d9782;
$green: 			#12ab94;
$lightGreen: 		#5fb6a9;
$lightestGreen: 	#B6DDD6;

$black: 			#1e1f1e;
$white: 			#ffffff;
$darkGray: 			#333433;
$gray: 				#888888;
$textGray: 			#444444;
$lightGray:			#ebebeb;
$lighterGray: 		#f4f4f4;
$lightestGray: 		#f8f8f8;

$pink: 				#e34bcc;
$lightPink:			#f053d8;
$lightestPink: 		#fff6fd;