---
title: The Hub
---
<script id="twine-script" cols="66" tab="All Topics" src="//apps.twinesocial.com/embed?app=9QDQSORM16"></script>
<div style="display:none;">Loading <a href="http:///www.twinesocial.com" title="Twine Social" target="_blank">Twine Social</a></div>

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
